doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,500', rel='stylesheet', type='text/css')
    title Parchment
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='./assets/main.css')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Parchment
    .container
      section.row
        .col-md-12.inputContainer
          .form-group
            input#listinput.form-control(type='text', placeholder='Enter your content here')
        .col-md-12.listContainer
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src='./assets/main.js')