body{
	padding:20px 0;
}
.inputContainer{
	padding: 15px 15px 0 15px;
	background: #f5f5f5;
	border-radius:5px;
	box-shadow: 0 0 1px #777;
}

.inputContainer input{
	height: 50px;
	font-size: 20px;
}
.listContainer{
	border-radius: 5px;
	background: #f5f5f5;
	margin-top:20px;
	box-shadow: 0 0 1px #777;
	padding: 0;
}

.listContainer article {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid white;
    padding: 10px;
}

.listContainer article:first-child{
	border-top: none;
}

.listContainer article:last-child{
	border-bottom: none;
}
