* {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

body {
    background-image: url(img/mainbg.png);
}


/* Navbar */

.navbar {
    border-radius: 0 !important;
}

.navbar-brand {
    color: #fff !important;
}

.inputContainer {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 1px silver;
    margin: 0 0 20px 0;
}

.inputContainer .form-group {
    margin-bottom: 0;
}

#listinput {
    outline: none;
    border: none;
    box-shadow: none;
}

.listContainer {
    background: #fff;
    box-shadow: 0 0 1px silver;
    padding: 0;
}

.listContainer article {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px;
}

article.done {
    text-decoration: line-through;
}

.listContainer article:first-child {
    border-top: none;
}

.listContainer article:last-child {
    border-bottom: none;
}

.listContainer article {
    position: relative;
}

.iconContainer {
    background: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
}

.iconContainer span {
    cursor: pointer;
    color: silver;
    font-size: 17px;
}

span.doneOn {
    color: green;
}

.tick,
.doneOn {
    margin-right: 5px;
}

@media (min-width: 1200px) {
    .container {
        width: 920px;
    }
}
